* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 8px;
  background: var(--main-body-dark);
}

/* CSS Variables */
:root {
  --main-body-dark: #1b1738;
  --primary-color-red: red;
  --main-component-theme: #242041;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/* Main Container into Grid */
.main-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

/* side bar css*/

/*side bar nav items*/
.main-container-sidebar {
  display: flex;
  flex-direction: column;
  list-style: none;
  background: var(--main-component-theme);
  flex: 3%;
  border-radius: 5px;
  height: 1140px;
}

/* main container right css*/
.main-container-main {
  border-radius: 5px;
  flex: 97%;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}

/*main navigation items*/
.main-nav__item a {
  text-align: center;
  margin: 10px;
  display: block;
}

/*main navigation active icon*/
.main-nav__item-active a {
  border-radius: 50px;
  border: 1px solid var(--main-body-dark);
  padding: 5px;
}

/*main navigation image border radius*/
.main-nav__item a > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/*top header*/
.top-header {
  background: var(--main-component-theme);
  width: 100%;
  padding: 5px;
}

/*top header ul give flex property*/
.top-header-items {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

/*top header li items*/

/*Left Dashboard*/
.left-dashboard {
  padding: 5px;
  flex-basis: 28%;
  height: 100vh;
}

/*Right Dashboard*/
.Right-dashboard {
  padding: 5px;
  flex-basis: 70%;
  height: 100vh;
}

/*Market Table*/
.market-table {
  margin: 0 auto;
}

/*all cards background*/
.card-items {
  background: var(--main-component-theme);
}

/*card input*/
#myInput {
  background-image: url("./components/img/search.png");
  background-position: 50px 13px;
  background-repeat: no-repeat;
  background-size: 18px;
  width: 35%;
  font-size: 12px;
  border-radius: 20px;
  border: 1px solid black;
  margin-left: -8px;
}

/* active li to right section to input*/
.input-right-active {
  padding: 2px 5px;
  background: green;
  border-radius: 5px;
}

/*margin among other inputs*/
.input--other-li {
  margin-left: 5px;
  margin-top: 2px;
}

/*main navigation image border radius*/
.table-images {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

/*header image border radius*/
.table-images-header {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

/* header image verified*/
.table-images-verified {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* graph section*/
.section-graph {
  width: 100%;
  height: 500px;
  background: var(--main-component-theme);
  margin-top: 10px;
  padding: 5px;
}

/* graph section top header*/
.section-gaph-top {
  display: flex;
}

/* graph section circle icons*/

.graph-section-circle-icons {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #191536;
  border: 1px solid grey;
  text-align: center;
  vertical-align: middle;
  line-height: 27px;
}

/* graph section header list date*/
.graph-section-list-dates-items {
  display: flex;
  color: white;
  align-items: center;
  background: #191536;
  border: 1px solid grey;
  border-radius: 20px;
  text-align: center;
  margin-left: 5px;
  margin-top: 5px;
  font-size: 10px;
}

/* graph section header list date items paddings*/
.graph-section-list-dates-items li {
  padding: 2px 8px;
}

/* graph section forex index items*/
.graph-section-forex-index-items {
  display: flex;
  color: white;
  align-items: center;
  text-align: center;
  margin-left: 1px;
  margin-top: 5px;
  font-size: 10px;
}

/* graph section header forex items paddings*/
.graph-section-forex-index-items li {
  padding: 2px 8px;
}

/* divider*/
hr.solid {
  border-top: 3px solid var(--main-body-dark);
}

/*graph-middle image*/
.section-gaph-middle-graph-image {
  background-image: url("./components/img/graph-chart.jpg");
  background-color: #cccccc;
  height: 405px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*section bottom tab section*/
.section-bottom-tabs {
  width: 100%;
  height: 290px;
  margin-top: 10px;
  background: var(--main-component-theme);
}

/*tabs quick buy and sell*/
.quickbuy {
  margin-left: 20px;
  background: #1a1736;
  border: 1px solid black;
  padding: 8px;
  border-radius: 20%;
}

/* bottom section order list */

.bottom-section-order-lists {
  margin-top: 10px;
  height: 265px;
  background: var(--main-component-theme);
  padding: 5px;
  width: 100%;
  color: white;
  display: flex;
}

.bottom-section-order-lists-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 11px;
  color: #454464;
  font-weight: bold;
}

/*display as table*/
#table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-collapse: separate;
}

/*display as thead*/
.t-head {
  display: table-header-group;
}

/*target header th*/
.t-head .cell-header {
  padding: 2px 0px 3px 10px;
  font-size: 12px;
  color: #454464;
}

/*display as th, tr*/
.rows {
  display: table-row;
}

.rows-header {
  display: table-row;
}

/*display cell as tr*/
.cell {
  display: table-cell;
}

/*target  tr*/
.t-head .cell {
  padding: 2px 0px 0px 10px;
  font-size: 10px;
  color: white;
  margin-top: -50px;
  padding: 5px;
}

/*display nth child*/
#table .rows:nth-child(odd) {
  background-color: #1a1837;
  border-radius: 40px !important;
  border: 1px solid black;
}

/*display hover table*/
#table .rows:hover {
  background-color: #303030;
}

.cell-header {
  display: table-cell;
}

/* media queries*/
@media (max-width: 768px) {
  .main-container-sidebar {
    display: none;
  }

  .main-container-main {
    margin-left: 0px;
    flex-basis: 100%;
  }

  .hide-fa-icon {
    display: none;
  }

  .top-header-item {
    border: 1px solid var(--main-body-dark);
  }

  .top-header-items {
    flex-direction: column;
  }

  .section-gaph-top {
    flex-direction: column;
    align-items: center;
  }

  .hide-graph-icons {
    display: none;
  }

  .relative-icons,
  .section-bottom-tabs {
    display: none;
  }

  .bottom-section-order-lists {
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 10px;
    height: 500px;
  }
}

@media (max-width: 620px) {
  .left-dashboard {
    display: none;
  }

  .Right-dashboard {
    flex-basis: 100%;
  }
}
